
/*       HTML STANDARD         */
/*_____________________________*/
*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	width: 100%;
}
a{
	text-decoration: none;
	color: #f7b5b5;
}
a:hover{
	color: #f0595f;
}


/*       MAIN ELEMENTS         */
/*_____________________________*/
.title{
	font-family: 'Josefin Slab', serif;
	font-weight: 400; 
	font-size: 50px;
	text-align: center;
}
.main{
	width: 1020px;
	margin: 90px auto 0 auto; 
}

.wrap{
	width: 250px;
	margin: 0 auto 0 auto;
	display: block;
}
#lines{
	font-family: 'Open Sans Condensed', sans-serif;
	width: auto;
	height: auto;
	padding: 100px 25px 100px 25px;
	font-size: 30px;
	text-align: center;
}
.buttons{
	font-family: 'Josefin Slab', serif;
	font-weight: 300;
	width: 480px;
	height: auto;
	margin: 0 auto 0 auto;
	border-top: 2px solid #f7b5b5;
	text-align: center;
}



/*     	 OTHER ELEMENTS        */
/*_____________________________*/

.button{
	color: #ffffff;
	width: 125px;
	height: 10px;
	line-height: 10px;
	display: inline-block;
	margin: 50px 20px 20px 20px;
	background-color: #f7b5b5;
	padding: 25px;
	border-radius: 10px;
	text-align: center;
	display:inline-block;
}
.button:hover{
	background-color: #f0595f;
}

/*     	    "TABLET"           */
/*_____________________________*/
@media (max-width:1024px) {
	h2{
		margin: 50px 0 0 0;
	}
	.main{
		width: auto;
		height: auto;
	}

	#lines{
		padding: 75px;
	}
	
}


/*     	     MOBILE            */
/*_____________________________*/
@media (max-width:500px) {

	h2{
		margin: 50px 0 0 0;
	}
	.main{
		width: auto;
		height: auto;
		margin: 20px 0 0 0;
	}
	#lines{
		width: auto;
		height: auto;
		margin: 0;
		padding: 75px;
	}
	
	.buttons{
		width: 90%;
		height: auto;
	}
	.button{
		width: 100px;
		height: 35px;
		line-height: 18px;
		margin: 15px 5px 5px 5px;
	}
}